replicaCount: 2

image:
  repository: kavindu1w3/pos-api
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: pos-api.example.com
      paths:
        - path: /
          pathType: Prefix

env:
  SERVER_PORT: "3000"
  MONGO_URL: "mongodb://mongo-service:27017/posapi"
